{% load static %}

<html>
<head>
<meta charset="UTF-8">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
 <script src="{% static 'js/jseqlogo.js' %}" type="text/javascript"></script>



    {%block scrpt%}


    {%endblock scrpt%}
<title>PATTCON</title>
</head>




<body >



<div class="divtopo">

  <p align="center"></p>
    <img src="{% static 'css/pattconbann.png' %}">


</div>








<div class='divmenu'>
<center>
    <table>
  <tr>
    <td class="table1"><a href="/inicio"><b>Home</b></a></td>
    <td class="table1"><a href="/tutorial"><b>Tutorial</b></a></td>
    <td class="table1"><a href="/contact"><b>Contact</b></a></td>
  </tr>
    </table>
    </center>


</div>









<center>

<div class="divconteudo">
{%block conteudo%}







{%endblock conteudo%}
</div>



    <div class="divfooter">
    {%block footer%}




    {%endblock footer%}
  </div>

</center>






</body>
</html>