{% extends "base.html" %}
{% load static %}


<html>
<head>
<meta charset="UTF-8">



<title>Insert title here</title>

 {%block scrpt%}
<script>

	function pcon(frm)
	{
		if(frm.contpercent.value == "" || frm.conspercent.value == "" || frm.fileseq.value=="")
		{
		alert("All inputs are necessary");
		return false;
		}

		}




</script>

    {%endblock scrpt%}

</head>

<body>



{%block conteudo%}




		<form id="formindex" onsubmit="return pcon(this);" name="formindex" enctype="multipart/form-data" method="post" action="analise">

			 {% csrf_token %}
			        {{ form.as_p }}

<center>
 <table>
  <tr>
    <td width="200">
		<br><br>
		<label class="description"><b>Content Percent</b> </label>
		</td>
		<td width="100">
			<br><br>
		<input name="contpercent" id="contpercent" type="text" size="7" value=""/>


	</td>
	  </tr>
<tr>
	  <td width="200">
		  <label class="description"><b>Conservation Percent</b> </label>
		  </td>
	<td width="100">
	  <input name="conspercent" id="conspercent" type="text" size="7" value=""/>
	</td>
</tr>

	 <tr>
    <td width="200">
		<label for="tammin"><b>Minimum Size</b></label>
		</td>
		 <td width="100">
			<input name="tammin" id="tammin" type="text" size="7" value=""/>



	</td>
  </tr>

	 <tr>

		 <td colspan="2">
			 <br><br>

<label class="description"><b>Open File FASTA </b></label>

			<input id="fileseq" style="value: No File Selected" name="fileseq" class="element file" type="file" value="No File Selected"/>



	</td>


	 </tr>

    </table>
</center>




			<br><br>

			<input id="analisecamp" class="buttons" name="submit" type="submit"  value="Search" style="width: 90px" />


<br>





</form>



{%endblock conteudo%}





</body>
</html>