{% extends "base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


  {%block conteudo%}


<br>
<b>
::::Motifs Analyse :::
</b>

  <br>
  <hr>


<form id="formul" name="formul" method="post" action="motivores">
    {% csrf_token %}
			        {{ form.as_p }}
<p align="center">

    {%for j,k,l,m,n in listStr%}

    Motif: {{k}} - {{l}} <br>
    Species With Motif<br>
    <br>
    {%for p in m%}
    {{p}} <br>
{%endfor%}
    <br>
Species With Alterations<br>
    {%for s in n%}
    {{s}} <br>
{%endfor%}



<br>
<hr>
    {%endfor%}

</form>


    <br>



    <br>

    <br>




    <br><br>



  <br><br>



  {%endblock conteudo%}


    <div class="divfooter">
    {%block footer%}


<table class="table2" align="left">

    <tr align="left">
        <td width="17%" align="left">
             <center>
            Generate Fasta With All Motifs
            <form id="formfasta" name="formfasta" method="post" action="fastagen">
     {% csrf_token %}
			        {{ form.as_p }}


        <input class="buttons" style="width: 120px" type="submit" value="Generate" id="botaofasta" name="val">



</form>
</center>
        </td>

        <td width="35%">
<center>
            Generate Fasta By Specie. Select The Specie
<form id="sppfasta" name="formsppfasta" method="post" action="fastaspecies">
     {% csrf_token %}
			        {{ form.as_p }}
Species
    <select name="sppsel" id="sppsel">
        {%for k in listSpec%}
        <option value={{k}}> {{k}}</option>
        {%endfor%}

    </select>

        <input class="buttons" style="width: 120px" type="submit" value="Generate" id="botaobusca" name="botaobusca">

</form>
</center>

        </td>



        <td width="35%">
<center>





            Generate Logo Sequence
<form id="formlogo" name="formlogo" method="post" action="motiflogo">
     {% csrf_token %}
			        {{ form.as_p }}
Motifs

    <select id="motlogonum"  name="motlogonum">
{%for y,w,t,v,z in listMM%}
        <option value={{y}}> {{t}} </option>
{%endfor%}

    </select>



        <input class="buttons" style="width: 120px" type="submit" value="Generate" id="btnlogo" name="btnlogo">

</form>
</center>

        </td>


        <td width="36%">
      <center>

Generate a Report With All Motifs With Occurrences and Alterations in Each Specie
  <form id="formreport" name="formreport" method="post" action="report">
     {% csrf_token %}
			        {{ form.as_p }}
        <input class="buttons" style="width: 120px" type="submit" value="Report" id="btreport" name="btreport">

</form>
</center>

        </td>


    </tr>
</table>



    {%endblock footer%}
  </div>


<script>

    function fun(form)
    {
    document.getElementById('valor').value = vl;

    form.submit();


}




</script>





</body>
</html>