{% extends "base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


  {%block conteudo%}



<br>
<b>
::::Motifs List :::
</b>
<br>
Min Size :: {{minsize}}
  <br>
  <hr>





    {%for lstMotifs, listLocalsFinal, lstSpec, lstSupprt, lstMotifNumber, lstSpecNames, lstSizes, lstEndLocal in ziplist%}



<p align="center">

  Motif Number: {{lstMotifNumber}}<br>
  Sequence: <b> {{lstMotifs}}</b><br><br>
    Local Begin: {{listLocalsFinal}}<br>
    Local End: {{lstEndLocal}}<br>
  Length: {{lstSizes}}<br>
  Support: {{lstSupprt}}<br>


</p>
    <br>

<hr>


    {%endfor%}






    <br><br>


</p>


  <br><br>



  {%endblock conteudo%}



{%block footer%}


<form id="formlogo" name="formlogo" method="post" action="motbysp">
     {% csrf_token %}
			        {{ form.as_p }}
          <input class="buttons" style="width: 160px" type="submit" value="Analyze" id="botaofasta" onclick="newWindow()">
  </form>

    {%endblock footer%}




</body>
</html>