


body
{
	
	/* background-image: url(pattconbann.png); */
	/*  background-repeat: no-repeat; */
	text-align: center;
	justify-content:center;
	/* width: 90%;*/
    /* height: 90%;*/
	float: center;

}


a:link {
  color: #FF7433;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #FF7433;
  background-color: transparent;
  text-decoration: none;
}


.table1
{
  padding: 0px 45px 0px 45px;

}


.table2
{
  padding: 8px 45px 8px 45px;

  /*border-right:2px solid;
border-left:2px solid;
border-bottom:2px solid;
border-top:2px solid;
background-color:#EEEEEE;
border-color:#FF7433;
*/
}

.divtopo
{
width: 100%;
top: 0;
        padding: 10px 0;
}




.divmenu{

padding-bottom: 5px;


}


.divconteudo
{
background-color: #FBDDC3;
width:97.5%;
height:60%;
overflow-y:auto;
padding-top:5px

}





.quodrant1{
    text-align: center;
     width: 10%;
     height: 300px;
}




.quodrant2{


    text-align: left;
    padding-top: 10px;
    display: block;
    line-break: auto;
    width: 50%;
    height: 300px;



}


.blocoabaixo{

    width: 100%;

}

.quodrant3{
    top: 50vw;
    left: 0;
    background-color: blue;
}

.quodrant4{
    top: 50vw;
    left: 50vh;
    background-color: green;
}

.image {
border: 2px solid;
padding: 20px;
  resize: both;
  overflow: auto;
}

.buttons
{
background-color:white;
border-color:orange;
height:36px
}